body{
    font-family: raleway,sans-serif;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


#container{
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

h1{
    background-color: #2980b9;
    color: white;
    font-weight: normal;
    text-transform: uppercase;    
    padding: 10px 10px;
    margin: 0;
    font-size: 24px;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;}
li{
    background: #fff;
    height: 40px;
    line-height: 40px;
}
li:nth-child(2n){
    background: #f7f7f7;
}

input{
    width: 100%;
    box-sizing: border-box;
    background-color: #f7f7f7;
    font-size: 18px;
    color: #2980b9;
    padding: 13px 13px 13px 20px;
    border: 3px solid rgba(0,0,0,0);
}

span{
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    opacity: 0;
    transition: 200ms;
}

li:hover span{
    width: 40px;
    opacity: 1;
}

input:focus{
    border: 3px solid  #2980b9;
    outline: none;

}
.selected{
    text-decoration: line-through;
    color: gray;
}
h1 i{
    float: right;
}